################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPattern/FileContentIndex
/.vs/DesignPattern/v17
